.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #28a745;
    border-color: #28a745 transparent #28a745 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #girarEliminarAvanceAcademico
  {
    align-self: center;
    text-align: -webkit-center;
    display: none;
  }
  #girarActualizarAvanceA
  {
    align-self: center;
    text-align: -webkit-center;
    display: none;
  }
  #editarMetodo_form
{
    display: block;
    max-height: 700px;
    overflow-y: scroll;
}
#modalEditarAvanceAcademicoColor
{
  background-color: rgb(250, 250, 250);
}
#modalEditarScroll
{
    max-height: 800px;
    overflow-y: scroll;
}

  